:root {
    --mainPink: #1fa0f7;
    --mainYellow: rgb(67, 250, 122);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(148, 249, 215, 0.534);
    --mainGrey: rgb(238, 238, 238);
  }


html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins, sans-serif;
    color: #222;
}
.nav-bg{
    background-color:rgb(27, 218, 208);
}
.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    padding: .2rem 1rem;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #000;
    border: 1px solid white;
    border-width: 5px;
    box-shadow: 0px 0px 5px 2px #ccc;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}
.jumbotron{
    padding: 5rem;
}

.welcome{
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.especialists{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 3rem;
}
.fa-code{
    color: #e54d26;
}
.fa-bold{
    color:#563d7c
}
.fa-clinic-medical{
  color:white; 
  border:2px solid;
  padding: 20px;
  border-radius: 10rem;
  background-color:red;
}
.fa-comment-medical{
  color:white; 
  border:2px solid;
  padding: 20px;
  border-radius: 10rem;
  background-color:red;
}
.fa-ambulance{
  color:white; 
  border:2px solid;
  padding: 20px;
  border-radius: 10rem;
  background-color:red;
}
.fa-clinic-medical,.fa-comment-medical,.fa-ambulance{
    font-size: 5em;
    margin: 1rem;
}
.fa-clinic-medical:hover,
.fa-comment-medical:hover,
.fa-ambulance:hover{
background-color: rgb(148, 0, 0);
position: relative;
animation-name: hover;
animation-duration: 4s;
}
@keyframes hover {
  0%   { left:0px; top:0px;}
  25%  { left:0px; top:-20px;}
  50%  { left:0px; top:-20px;}
  75%  { left:0px; top:-20px;}
  100% { left:0px; top:-20px;}
  
}
.medias{
    margin-top: 5rem;
}
.social a{
    font-size: 4.5em;
    padding: 4rem;
    
}
.fa-facebook{
    color: #3b5998;
    
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color:#d5d5d5;
}
footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 5rem;
    padding: 2rem;
    margin-top: 4rem;
    width: 100%;
    position: relative;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 50%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    
}
footer a{
    color: #d5d5d5;
}

.title{
    color: black;
    font-size: 3rem; 
}

  .banner-title {
    color: red;
    font-size: 3rem;
  }
  .banner-link {
    font-size: 1.5rem;
    color: black;
    border: 0.2rem solid black;
  }
  .banner-link:hover {   
    color: red;
  }
  
  
  
  
@media(max-width: 768px){
    .carousel-caption{
        top: 45%;        
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
    }
}
@media(max-width: 576px){
    .carousel-caption{
        top: 40%;        
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
        
    }
}
