body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}
/*sidebar*/
#first-row{
    padding-top: 100px;
    position:fixed;
    background-attachment: fixed;
    background-color: #70c5c0;
    height: 100%;
    width: 190px;
    top: 0;
    left: 0;


}
#first-row .nav-link{
    color: white;

}

#first-row #active{
    color:black;
background-color: white;
}

#first-row a i{
    margin-right: 16px;
}

#left{
position: relative;
align-content:center;
align-items: center;
}

#dashboard h1{
    position: relative;
    text-align: center;
}
#logo{
    height: 60px;
    width: 170px;
    position: fixed;
    top: 17px;
    left: 13px
  }
