#map {
    height: 100%;
    width: 89%;
    position: absolute;
    left: 200px;
  }
   nav{
     background-color: #70c5c0;
     color: white;
     position: fixed;
     top: 0;
     left: 0;
     width: 200px;
     height: 100%;
   }
   #logo{
     height: 60px;
     width: 170px;
     position: fixed;
     top: 17px;
     left: 13px
   }
   #btnMarcarConsulta{
       position: fixed;
       top: 50%;
       left: 30px;
       

   }
   #btnVoltar{
     position: fixed;
     bottom: 20px;
     left: 60px;
   }