
#appstable{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  width: 100%;
}

#appstable td, #appstable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#appstable tr:nth-child(even){background-color: #f2f2f2;}

#appstable tr:hover {background-color: #ddd;}

#appstable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #70c5c0;
  color: white;
}

  label {
    display: flex;
    justify-content: center;
    
  }
.form-group input{
  text-align: center;
}
#btnEdit{
 position: relative;
 left: 33.5%;
    
}
.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  
}
